################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoodHamburger/v17/.suo
/.vs/GoodHamburger/v17/DocumentLayout.backup.json
/.vs/GoodHamburger/v17/DocumentLayout.json
